
#body{
     background-color: rgb(67, 67, 67);
     color: black;
     padding: 0pt;
     max-width: 1000pt;
     min-width: 1000pt;
     
     
    
}
img{
    
    display:block;
    margin-right: 10%;
    margin-left: 10%;
    max-width: 80%;
    
    

    
}



#header{
   

    margin-left:10%;
    
    margin-right: 10%;
    color: white;
    
    box-shadow: 3px 3px 2px red;

    overflow: hidden;
    background-image: linear-gradient(rgb(56, 142, 223),rgb(49, 103, 240),rgb(32, 91, 242),rgb(49, 103, 240),rgb(56, 142, 223));
  
    
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.57);
    
}
#header #content{
    margin-left:5%;
    text-shadow: 4px 4px 8px #000000;
    text-decoration: none;
    
}

#name{
    font-size: 30pt;
}

#my_pic{
    float: right;
    position: relative;
   
    border-radius: 50%;
    top: 25pt;

    
    
}
#react{
    position: relative;

    top: 19pt;
    margin-left: 5%;
}


a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
    
}



#navigation{
    
    background-image: linear-gradient(rgb(73, 73, 73),rgb(114, 114, 114));
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    
   
    color: rgb(202, 202, 202);
    padding: 10pt;
    font-size: 14pt;
    text-align: center;
    
  
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.57);

   
}

#navigation #href{
  
   padding-left: 10%;
   padding-right: 10%;
  
}

#Side_menue{
    
    
    position: relative;
   
    font-size: 13pt;
   
    float: right;
    

    padding: 15pt;
    background-color: rgb(209, 209, 209);
  
    
   
}




#about_me{
    float:left;
    position: relative;
    font-size: 14pt;
    margin-left: 20pt;
    max-width: 400pt;
    
    
   
    

}


#info{
   
    overflow: hidden;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.57);
   
    
}









a:hover{
    color: rgb(56, 142, 223);
}

#js{
    
    width: 100pt;
    height: auto;
}

#UAlogo{
    width: 100pt;
    height: auto;
    float:right;
}

